<!DOCTYPE html>
<html>
    
    <head>
        <title>Account Creation</title>
    </head>

    <body>
        <h2>Create new Account</h2>

        <!-- wir rufen den add user call der user_api auf und erstellen eine form für die übergabe von variablen -->
        <form action="/add_user" method="post">
            <label>Username:</label>
            <input type="text" name="user_name" required>
            <br><h5>Username must be 2-25 characters, can't contain only spaces, can only contain letters.</h5>
            <br><br>
            <label>Password:</label>
            <input type="password" name="user_password" required>
            <br><h5>Password must be at least 8 characters long, can't contain only spaces or digits, must contain at least one letter, one number, can't be same as username.</h5>
            <br><br>
            <button type="submit">Create Account</button>
        </form>
    </body>

</html>